<footer>
  <div class="footer" id="footer">
      <div class="container">
          <div class="row">
                  <h3> About Us </h3>
                  <p class="responsive">
                    HackGallery is a very nice platform for image lovers.
                    It provides very high quality images.You can download images.
                    On HackGallery you can upload images to share and maintain profile in world of high quality images.
                  </p>
          </div>
          <!--/.row--> 
      </div>
      <!--/.container--> 
  </div>
  <!--/.footer-->
  
  <div class="footer-bottom row">
    <div class="col-md-12  col-md-offset-4">

      <ul class="social">
    
          <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
    
          <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
    
          <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
        
          <li> <a href="#"> <i class="fa fa-instagram">   </i> </a> </li>
    
      </ul>
    
    </div>
  </div>
  <!--/.footer-bottom--> 
</footer>

