<footer>
  <div class="footer" id="footer">
      <div class="container">
          <div class="row">
                  <h3> About Us </h3>
                  <p class="responsive">
                    BookGallery is a very nice platform for book lovers.
                    It provides very huge collection of books.You can download books also.
                    On BookGallery you can upload books to share and maintain profile in world of knowledge.
                  </p>
          </div>
          <!--/.row--> 
      </div>
      <!--/.container--> 
  </div>
  <!--/.footer-->
  
  <div class="footer-bottom row">
    <div class="col-md-12  col-md-offset-4">

      <ul class="social">
    
          <li> <a href="https://www.facebook.com/"> <i class=" fa fa-facebook">   </i> </a> </li>
    
          <li> <a href="https://twitter.com/"> <i class="fa fa-twitter">   </i> </a> </li>
    
          <li> <a href="https://plus.google.com/"> <i class="fa fa-google-plus">   </i> </a> </li>
        
          <li> <a href="https://www.instagram.com/"> <i class="fa fa-instagram">   </i> </a> </li>
    
      </ul>
    
    </div>
  </div>
  <!--/.footer-bottom--> 
</footer>

