
<div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-lg-9">
          <label style="font-size: 24px;margin: 5px 0 30px 0;">Your Uploads</label><br>
            <div class="imgcontainer" *ngIf="pdfservice.getPdfItems().length===0">
              <img src="../../assets/icons/emptystate.gif" alt="Avatar" class="avatar"> 
            </div>
            <div  *ngIf="pdfservice.getPdfItems().length!==0">
              <div class="row">
                <ul style="list-style-type: none;">
                    <li *ngFor="let pdf of pdfservice.getPdfItems(); let i= index" >
                        <a [routerLink]="['/description',i,'user']">
                            <div class="col-md-4">
                                    <div class="card mb-4">
                                       <img class="card-img-top"style="width:100px;height:100px;" src="../../assets/icons/images.png" alt="Card image cap">
                                       <div class="card-body">
                                          <h5 >{{pdf.name}}</h5>
                                          <p >{{pdf.description}}</p>
                                       </div>
                                    </div>
                                 </div>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
          <button routerLink="/uploadimage">Upload</button><br>
      </div>
      <div class="col-lg-3">
        <label style="font-size: 24px;margin: 5px 0 30px 0;">Reader</label><br>
        <div class="imgcontainer">
          <img src="../../assets/icons/reader.jpg" alt="Avatar" class="avatar">
        </div>
        <label class="photoinfo">I enjoyed reading as a hobby for a year. Very happy that people who don't have premium stock subscriptions can enjoy/and find use for my book store.</label>
      </div>
    </div>
  </div>
  <app-footer></app-footer>