.back{
    background-color: aliceblue;
}
.shiftleft{
    margin-left: 100px;
}
.shiftright{
    margin-right: 30px;
    color: black;
}
a{
    color: black;
}
a:hover, .dropdown-menu a:hover{
    color: #ea399a;
}
.active{
    color: #ea399a;
}