
<div class="full">
    <form >
        <div class="imgcontainer">
          <img src="../../assets/icons/female,jpg.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label><b>Email Id</b></label><br>
          <input type="text" placeholder="Enter Username" name="uname" required><br>
      
          <label for="psw"><b>Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="psw" required>
              
          <button type="submit">Login</button><br>
          <label>
            <a routerLink="/register">Create an account.</a>
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="btn btn-danger cancelbtn" routerLink="/home">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>