/* You can add global styles to this file, and also import other style files */

body{
    background-color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}