
<div class="full">
  <form >
      <div class="imgcontainer">
        <img src="../../assets/icons/female,jpg.png" alt="Avatar" class="avatar" type="file" accept="image/*">
      </div>
    
      <div class="container">
        <label><b>Email Id</b></label><br>
        <input type="text" placeholder="Enter Username" name="uname" required><br>
    
        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="psw" required><br>

        <label for="psw"><b>Confirm Password</b></label><br>
        <input type="password" placeholder="Confirm Password" name="psw" required>
            
        <button type="submit">Register</button><br>
        <label>
          <a routerLink="/login">Login.</a>
        </label>
      </div>
    
      <div class="container">
        <button type="button" class="btn btn-danger cancelbtn" routerLink="/home">Cancel</button>
      </div>
  </form>
</div>